<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Document</title>
    
</head>

<body>
    <div class="container-a">
        <img src="/images/tw.jpg">
        <div class="container">
            
            <h1>LOGIN</h1>
            <input id="email"type="text" required minlength="4" placeholder="  add your email">
            <input id="password"type="password" required minlength="4" placeholder="  add your password">  
            <div>
                <p id="btn-login" class="btn-login">LOGIN</p>
                <p class="signup"> not a member? <a>SIGNUP</a></p>  
            </div>
        
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/login.js" ></script>
</body>
</html>